html,body{
  width:100%;
  height:100%;
  margin:0;
}

body{
  background-image:url(img/patrick.jpg);
  background-size:cover;
}

p {
  position: absolute;
  z-index: 9999;
  color: white;
  font-size: 300px;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

.fucking-rainbow{
  position:absolute;
  z-index:0;
  width:100%;
  height:100%;
  opacity:0.4;
}
